.decoration-line {
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    width: 4vw;
    height: 0.5vh;
    background-color: #50fa7b;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
}